<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @shop.details %>
</p>


<strong>Message Shop</strong>
<%= form_for @shop, url: { action: "message" } do |f| %>
  <p>
    Subject <br/>
    <%= text_field_tag :subject %>
  </p>
  <p>
    Message <br/>
    <%= text_area_tag :body %>
  </p>
  <%= f.submit "Send Message" %>
<% end %>

<h2>Shop's conversations</h1>

<table class="conversations">
  <thead>
  <tr>
    <th>id</th>
    <th>subject</th>
  </tr>
  </thead>
  <tbody>
    <% @conversations.each do |conversation| %>
     <tr>
      <td>
        <%= conversation.id %>
      </td>
      <td>
        <%= conversation.subject %>
      </td>
     </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
