<!DOCTYPE html>
<html>
<head>
  <title>UsersTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="status">
    <div class="user">
      Singed in as <%= current_user.email if logged_in? %>
    </div>
    <div class="menu">
      <%= link_to 'Shops', shops_path %> |
      <%= link_to 'Designers', designers_path %> |
      <%= link_to 'My Profile', designer_path(current_designer) %> |
    </div>

  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
